<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="web/templates/Stylesheet.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="web/templates/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
<div id="RegisterPane">
    <img class="RegPane" src="web/img/RegisterPane.png">
    <img class="NameImput" src="web/img/input.png">
    <input id="Name" class="Name" type="text" ng-model="name" placeholder="Imie"><br>
    <input id="Surname" class="Surname" type="text" ng-model="surname" placeholder="Nazwisko"><br>
    <img class="SurnameInput" src="web/img/input.png">
    <label>
        <SELECT class="Project" ng-model="project" NAME="Project" style="width: 120px;">
            <OPTION>Reklamacje</OPTION>
            <OPTION>Infolinia</OPTION>
            <OPTION>BO</OPTION>
        </SELECT>
    </label><br>
    <img class="ProjectInput" src="web/img/input.png">
    <label>
        <select class="Group" ng-model="group" name="Group" style="width: 120px;">
            <option>Olsztyn</option>
            <option>Gdańsk</option>
            <option>Białystok</option>
        </select>
    </label><br>
    <img class="GroupInput" src="web/img/input.png">

    <input class="submit" ng-click="fetch()" type="submit">
</div>

<script src="web/templates/Scripts.js"></script>
</body>
</html>